<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/Assest/CSS/First Landing Page.css" rel="stylesheet">
  <link rel="stylesheet" href="/Assest/Bootstrap/Css/bootstrap.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
           
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <!--header-->
    <div  class="car">
        <div class="m1 mt-4">
            <h1><b>Renty</b></h1>
        </div>
        <div class="m2">
            <div><a href="#">About</a></div> 
            <div><a href="#">features</a></div>
            <div><a href="#">pricing</a></div>
            <div><a href="#">Resources</a></div>
            <div><a href="#">contact</a></div>
            
        </div>
        <div class="m3 mt-4">
            <button class="btn bg-black te rounded-3">
                <a class="text-decoration-none text-light">download app</a>
            </button>
        </div>
  </div>
    <!--header-->
    <!--section1-->
    <div class="container">
        <img class="image1" src="/Assest/Img/car~2.png" width="750" height="380">
        <p>
        <h1 class="p1">
            search and find<br>
            your best car rental<br>
            with easy way
        </h1>
        </p>
        <p class="p2">
            drive performance and your cross-functional <br> collaboration with
            easy-to-use dashboards, data <br> visualization, and automated
            insights in one click
        </p>
        <button class="btn1">booking now</button>
        <a href="" class="a1">see all cars</a>
    </div>
    <div class="brand">
        <img src="/Assest/Img/2e5cf5.jpg" width="70" height="70" class="iconebrands">
        <img src="/Assest/Img/68111-87L00-000.jpg" width="70" height="70" class="iconebrands">
        <img src="/Assest/Img/benz.png" width="70" height="70" class="iconebrands">
        <img src="/Assest/Img/bmw.jpg" width="70" height="70" class="iconebrands">
        <img src="/Assest/Img/bugblog-0.jpg" width="70" height="70" class="iconebrands">
        <img src="/Assest/Img/Icn1000267www.tiktarh.com_.jpg" width="70" height="70" class="iconebrands">
        <img src="/Assest/Img/maserati.jpg" width="70" height="70" class="iconebrands">
        <img src="/Assest/Img/Icn1000267www.tiktarh.com_.jpg" width="70" height="70" class="iconebrands">
    </div>
    <div class="div1">
        <img src="/Assest/Img/Annotation 2023-07-15 192350.png" width="600" height="300" class="image2">
        <p> <a href="" class="a2">about us</a>
        <h1 class="p3">
            more than 150+ special
            <br> collection cars
        </h1>
        </p>
        <p class="p4">
            get the car of your dreams with the installments of your
            <br> choice. there are various attractive offers from moladin
            <br> through our collaboration with various trusted leasing
            <br> partners
        </p>
        <button class="btn1">see all cars</button>
    </div>
    <!--section1-->
    <!--product-->
    <div class="bakhsh3"><h1>Our Collection Cars</h1>
        <div class="bakhshdakheli">
            <div class="s1"><img src="/Assest/Img/1.jpg">
                <h1>Porshe2020</h1>
                <a>80.59$</a>
               
                <a href="#" id="t">Booking Now</a>
            </div>
        
                    <div class="s2"><img src="/Assest/Img/2.jpg">
                        <h1>Dog Chalenger2023</h1>
                        <a>180.54$</a>
                        <a href="#" id="t"> Booking Now</a>
                </div>
               
                    <div class="s3"><img src="/Assest/Img/2023-07-07_17-06-46.jpg">
                        <h1>Dog Chalenger2019</h1>
                        <a>96.57$</a>
                        <a href="#" id="t">Booking Now</a>
                </div>
                
        </div>
        <div class="bakhshdakheli">
            <div class="s1"><img src="/Assest/Img/3.jpg">
                <h1>BMW</h1>
                <a>121.59$</a>
               
                <a href="#" id="t">Booking Now</a>
            </div>
        
                    <div class="s2"><img src="/Assest/Img/5.jpg">
                        <h1 id="n1">Benz2023</h1>
                        <a>165.54$</a>
                        <a href="#" id="t"> Booking Now</a>
                </div>
               
                    <div class="s3"><img src="/Assest/Img/10b.jpg">
                        <h1 id="n2">Bugati2019</h1>
                        <a>1500.57$</a>
                        <a href="#" id="t">Booking Now</a>
                </div>
                
        </div>
        <!--FOOTER-->
        <div class="footer">
            <div class="f1">
                <a class="logo" href="#">
                    <h1>Renty</h1>
                </a>
            </div>
            <div class="f2">
                <div><a href="#">Home</a></div>
                <div><a href="#">About Us</a></div>
                <div><a href="#">Category</a></div>
                <div><a href="#">Resources</a></div>
            </div>
            <div class="icon">
                <a href="">
                    <i class="fa fa-facebook-official"></i>
                </a>
                <a href="">
                    <i class="	fa fa-google"></i>ّّ
                </a>
                <a href="">
                    <i class="	fa fa-paper-plane"></i>
                </a>
                <a href="">
                    <i class="	fa fa-twitter"></i>
    
                </a>
            </div>
        </div>
      
    </div>
   <script src="/Assest/Bootstrap/Js/bootstrap.bundle.js"></script>
   <script src="/Assest/Bootstrap/Js/new.js"></script>
</body>

</html>